@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.contain {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.contain::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.RightToLeft {
animation: RightToLeft 2s infinite linear;
}

@keyframes RightToLeft {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

.LeftToRight {
animation: LeftToRight 2s infinite linear;
}

@keyframes LeftToRight {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
